.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  width: 70%;
}

.control-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.radio {
    flex-direction: row;
}
.control-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
}

.control-button {
  background-color: rgb(34, 80, 233);
  color: white;
  font-size: large;
  width: 50px;
  height: 50px;
}

.x-axis {
  background-color: red;
  color: white;
}

.y-axis {
  background-color: green;
  color: white;
}

.z-axis {
  background-color: blue;
  color: white;
}

.w-axis {
  background-color: purple;
  color: white;
}

.xw-axis {
  background-color: purple;
  color: white;
}

.yw-axis {
  background-color: turquoise;
  color: white;
}

.zw-axis {
  background-color: darkgoldenrod;
  color: white;
}

